<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|${strategy.name} - #{strategy.view.title}|">Strategy Details</title>
</head>
<body>
<section>
    <div class="container mt-4">
        <h2 th:text="${strategy.name}">Strategy Name</h2>
        <div class="card">
            <div class="card-img-top-container" th:if="${strategy.imageUrl}">
                <img alt="Strategy Image" class="card-img-top" th:src="@{${strategy.imageUrl}}">
            </div>
            <div class="card-body">
                <div th:if="${strategy.description != null and !strategy.description.trim().isEmpty()}">
                    <h5 class="card-title" th:text="#{form.description}">Description</h5>
                    <p class="card-text" style="white-space: pre-wrap;" th:text="${strategy.description}"></p>
                </div>

                <div class="mt-4" th:if="${strategy.examples != null and !strategy.examples.trim().isEmpty()}">
                    <h5 class="card-title" th:text="#{form.examples}">Examples</h5>
                    <p class="card-text" style="white-space: pre-wrap;" th:text="${strategy.examples}"></p>
                </div>

                <div class="mt-4" th:if="${strategy.tips != null and !strategy.tips.trim().isEmpty()}">
                    <h5 class="card-title" th:text="#{form.tips}">Tips</h5>
                    <p class="card-text" style="white-space: pre-wrap;" th:text="${strategy.tips}"></p>
                </div>
            </div>
        </div>
        <a class="btn btn-secondary mt-3" th:href="@{/strategies}" th:text="#{strategy.view.back_to_strategies}">Back to
            Strategies</a>
    </div>
</section>
</body>
</html>